# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=smtpenviador
DB_PASSWORD=Vidaloka2025@
DB_NAME=smtpenviador

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=Vidaloka2025@

# API
API_PORT=8080
API_SECRET=Vidaloka2025@

# Engine
WORKERS_COUNT=30
CONNECTIONS_PER_SMTP=20

# Tracking
TRACKING_DOMAIN=http://188-137-181-176.netherlands-3.vps.ac:8080
