# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=smtpenviador
DB_PASSWORD=Vidaloka2025@
DB_NAME=smtpenviador

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# API
API_PORT=80
API_SECRET=Vidaloka2025@SmtpEnviador2025SecretKey

# Engine
WORKERS_COUNT=30
CONNECTIONS_PER_SMTP=20

# Tracking (use your public IP or domain without port for port 80)
TRACKING_DOMAIN=http://188-137-181-176.netherlands-3.vps.ac
